services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: base
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 55455901
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d base"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - api_network

  api:
    build:
      context: .
      dockerfile: dockerfile
    container_name: api-telegram-bot
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN:-8335329999:AAFCHSE7KHsAWXQ8rJhgcNE6sarCMqo8ix8}
      - PATH_TO_DB=Host=postgres;Port=5432;Database=base;Username=postgres;Password=55455901
    depends_on:
      postgres:
        condition: service_healthy
    stdin_open: true
    tty: true
    networks:
      - api_network

volumes:
  postgres_data:
    driver: local

networks:
  api_network:
    driver: bridge